<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARuw7Cwi2z5XTxoOyMWt58oxgs0jVJiWg</string>
	<key>GCM_SENDER_ID</key>
	<string>973738940317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flixId</string>
	<key>PROJECT_ID</key>
	<string>flix-id-course-cdb28</string>
	<key>STORAGE_BUCKET</key>
	<string>flix-id-course-cdb28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973738940317:ios:4208fd09cbac095e484174</string>
</dict>
</plist>